.home {
  position: relative;
  display: flex;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  align-items: center;
}

.home > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 70%;
  z-index: 10;
}

.home > .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100%;
  text-align: center;
  z-index: 20;
}

.home > .container > h1, p {
  max-width: 576px;
  color: white;
  margin: 0;
}

.home > .container > h1 {
  font-family: 'Niconne';
  font-size: 56px;
  color: #E5B80B;
}

.home > .container > p {
  font-family: 'Lora';
  font-size: 20px;
  line-height: 32px;
}

.home > .container > i {
  font-family: 'Lora';
  font-size: 18px;
  color: white;
}

.home > .container > button {
  border: none;
  border: 2px solid white;
  padding: 14px 36px;
  cursor: pointer;
  font-family: 'Lora Bold';
  font-size: 18px;
  color: white;
  background-color: transparent;
}

.home > .container > button:hover {
  background-color: white;
  color: black;
}
